* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-rosso{
    background-color: red;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    height: 32px;
    width: 50px;
    background-color: orange;
    border: 1px solid black;
}

.uno, .tre{
    width: 14%;
    display: flex;
    align-items: center;
}

.due{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tre{
    justify-content: flex-end;
}

.flex-blu{
    height: 440px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-rosa{
    height: 280px;
    width: 72%;
    background-color: pink;
}